<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<img src="../assets/Aiesec-white-blue.png" style="width:200px">
<section id="Hheader">
        <nav>
                <a routerLink="" routerLinkActive="active">Home</a>
                <a [routerLink]="['opportunities',1]">One</a>
        </nav>
</section>
<section id=content>
        <div>
                <router-outlet></router-outlet>
        </div>
</section>
<section class="footer">
        Copyright 2017
</section>
</div>
